Hero Profile | <a href="/main">Home</a>
<br>
------------------------------------
<br><br>

<form action="/api/leagues" method="post">
    league name:<input type="text" name="league_name"><br>
    player1 email:<input type="text" name="player1_email"><br>
    player2 email:<input type="text" name="player2_email"><br>
    player3 email:<input type="text" name="player3_email"><br>
    player4 email:<input type="text" name="player4_email"><br>
    player5 email:<input type="text" name="player5_email"><br>
    player6 email:<input type="text" name="player6_email"><br>
    player7 email:<input type="text" name="player7_email"><br>
    player8 email:<input type="text" name="player8_email"><br>
    draft type:<input type="text" name="draft_type"><br>
    country:<input type="text" name="country">
    <input type="submit">
</form>