Home: Fantasy League of Legends
<br>
------------------------------------
<br><br>
<a href="/players">All Players</a> | <a href="/team">Your Team</a> | <a href="/select_athletes">Draft/Trade Players</a> | <a href="/logout">Sign Out</a>
<br><br>
Upcoming Matches:
<br><br>
Game 1 LCS 9/13/13 9:00PM PST | <a href="">Watch Live</a> | <a href="">Results</a>
<br>
Game 2 LCS 9/14/13 3:00PM PST | <a href="">Watch Live</a> | <a href="">Results</a>
<br><br>
Past Matches:
<br>
<br>
Game 3 LCS 9/12/13 6:00PM PST | <a href="">Replay</a> | <a href="">Results</a>