<%= partial('header.html') %>

<h2>Streaming game results...</h2>
<h3>Upcoming Matches</h3>
  <div class="row">
    <div class="col-md-4">Game 1 LCS 9/13/13 9:00PM PST</div>
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 2 LCS 9/14/13 3:00PM PST</div>
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 3 LCS 9/14/13 3:00PM PST</div>
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 4 LCS 9/14/13 3:00PM PST</div>
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 5 LCS 9/14/13 3:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  
<h3>Past Matches</h3>
  <div class="row">
    <div class="col-md-4">Game 1 LCS 9/13/13 9:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 2 LCS 9/14/13 3:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 3 LCS 9/14/13 3:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 4 LCS 9/14/13 3:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>
  <div class="row">
    <div class="col-md-4">Game 5 LCS 9/14/13 3:00PM PST</div>
    
    <div class="col-md-4"><a href="#">Results</a></div>
  </div>