<%= partial('guest_header.html', { user_id: '#' }) %>

<div class="container">
  <form class="form-signin" action="/api/players" method="post">
    <h2 class="form-signin-heading">Please register</h2>
    <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <input type="text" class="form-control" name="email" placeholder="Email">
    <input type="text" class="form-control" name="country" placeholder="Country">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</div>