<%= partial('header.html') %>

Your Team:
<ul>
    <li>Spot 1: <a href="/athlete_profile">Balls</a></li>
    <li>Spot 2: <a href="/athlete_profile">Patoy</a></li>
    <li>Spot 3: <a href="/athlete_profile">Link</a></li>
    <li>Spot 4: <a href="/athlete_profile">Bigfatip</a></li>
    <li>Spot 5: <a href="/athlete_profile">Meteos</a></li>
</ul>

Free Agents:

<form action="/team">
    <ul>
        <li><input type="checkbox">ZionSpartan</li>
        <li><input type="checkbox">NintendudeX</li>
        <li><input type="checkbox">Shiphtur</li>
        <li><input type="checkbox">DontMashMe</li>
        <li><input type="checkbox">Daydreamin</li>
        <li><input type="checkbox">Dyrus</li>
        <li><input type="checkbox">TheOddOne</li>
        <li><input type="checkbox">Reginald</li>
        <li><input type="checkbox">WildTurtle</li>
        <li><input type="checkbox">Xpecial</li>
        <li><input type="checkbox">Voyboy</li>
        <li><input type="checkbox">Saintvicious</li>
        <li><input type="checkbox">NyJacky</li>
        <li><input type="checkbox">Cop</li>
        <li><input type="checkbox">Edward</li>
        <li><input type="checkbox">Sycho Sid</li>
        <li><input type="checkbox">Xmithie</li>
        <li><input type="checkbox">mandatarycloud</li>
        <li><input type="checkbox">Zuna</li>
        <li><input type="checkbox">...</li>
    </ul>
    <input type="submit">
</form>