Your Team Page | <a href="/main">Home</a>
<br>
------------------------------------
<br><br>
<ul>
    <li>Spot 1: <a href="/athlete_profile">Balls</a> <a href="/trade">Trade</a></li>
    <li>Spot 2: <a href="/athlete_profile">Patoy</a> <a href="/trade">Trade</a></li>
    <li>Spot 3: <a href="/athlete_profile">Link</a> <a href="/trade">Trade</a></li>
    <li>Spot 4: <a href="/athlete_profile">Bigfatip</a> <a href="/trade">Trade</a></li>
    <li>Spot 5: <a href="/athlete_profile">Meteos</a> <a href="/trade">Trade</a></li>
</ul>